{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>MRSport, the sport for real.</h1>
		<div class="text-content">
			<p class="description">
				<b>MRSport</b>, for <b>Mixed Reality Sport</b>, combines the sport with the emerging technology of <b>Mixed Reality</b>. Mixed Reality is a new technology that allows you to interact with the world in a completely different way.
				    It combines the physical world with the virtual world using the <b>AR</b> (Augmented Reality) and <b>VR</b> (Virtual reality).
			</p>
			<div class="glasses">
				<img style=" width:600px; " src="{{ asset('assets/images/photohome.png') }}" alt="man with glasses">
			</div>
		</div>
	</div>
{% endblock %}
