@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

a:hover{
    color:  #2d343e;
}

h1 {
    color: #2d343e;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

h2 {
    color: #2d343e;
    font-size: 2rem !important;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.text-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
}


p{
    padding: 5%;
    width: 80%;
}

#navbarNav{
    color:red;
}

a:hover{
    color: #bfcad9 !important;
}