{% extends 'base.html.twig' %}

{% block title %}Edit Instructor{% endblock %}

{% block body %}
    <h1>Edit Instructor</h1>

    {{ include('instructor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_instructor_index') }}">back to list</a>

    {{ include('instructor/_delete_form.html.twig') }}
{% endblock %}
