{% extends 'base.html.twig' %}

{% block title %}Hello SubscriptionController!
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h2>Flexible subscription for all type of fitness people.</h2>
		<div class="text-content">
			<p>
				Subscribe to our
				<b>basic plan</b>
				to get glasses and start courses.
				<br>
				Subscribe to our
				<b>standard plan</b>
				to get glasses and some courses are free.<br>
				Subscribe to our
				<b>premium plan</b>
				to get glasses, unlimited courses and gym membership to your local gym.<br>
				There are 3 way to get the glasses: subscription, leasing and payment.
				<br>

			</p>
			<div class="glasses">
				<img style=" width:600px; " src="{{ asset('assets/images/photohome.jpg') }}" alt="man with glasses">
			</div>
		</div>
	</div>
{% endblock %}
